select.form-control{
    background: #000000;
    color:#ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    letter-spacing: 1.5px;
}

select.form-control:focus{
    background:#000000;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(182, 60, 60, 0.4);
    letter-spacing: 1.5px;
}

Button, h4{
    letter-spacing: 2px;
}
.ml{
    padding: 35px!important;
}